* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

.nav-link {
  color: #e6e6e6 !important;
  font-size: 16px;
  margin: 10px;
}

main {
  background: URL("https://images.pexels.com/photos/53621/calculator-calculation-insurance-finance-53621.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    no-repeat;
  height: 1200px;
  background-size: cover;
  background-position: center;
  background-color: #606060;
  background-blend-mode: multiply;
}


.video-responsive {
  overflow: hidden;
  padding-top: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first-text {
  font-size: clamp(1.6rem, 2.5vw, 2rem);
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 2%;
  text-align: center;
}

.analyse-requirements-first {
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 2%;
  text-align: center;
  font-weight: 400;
  letter-spacing: 1px;
}

.analyse-requirements-second {
  font-size: clamp(0.8rem, 2.5vw, 1rem);
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 2%;
  text-align: center;
  font-weight: 300;
  letter-spacing: 1px;
}

@media screen and (max-width: 600px) {
  .first-text {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .analyse-requirements-first {
    margin-left: 5%;
    margin-right: 5%;
  }

  .analyse-requirements-second {
    margin-left: 5%;
    margin-right: 5%;
  }
}

.nav-link:hover {
  color: #fff !important;
  font-size: 17px !important;
  transition: ease 300ms;
}

.botao {
  display: flex;
  margin-top: 8%;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  background-color: transparent !important;
}

.navbar.scrolled {
  background-color: #333 !important;
  transition: ease 500ms;
}
